alembic
bcrypt
celery
fastapi
numpy
opencv-python
passlib[bcrypt]
pillow
pydantic[email]
pydantic-settings
pyjwt
python-jose[cryptography]
python-multipart
redislite
scikit-image
sqlalchemy
uvicorn
wsproto
websockets
aioconsole
asyncio